<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>{{ page.title }}</h1>
    </div>
    
    <div class="sidebar-nav">
      <h2>BAGIAN 1</h2>
    </div>
    <ul class="sidebar-nav">
      <li>
        <a href="#berkenalan-dengan-openrefine">Berkenalan dengan OpenRefine</a>
      </li>
      <li>
        <a href="#memasang-openrefine">Memasang OpenRefine</a>
      </li>
      <li>
        <a href="#memulai-proyek-baru">Memulai Proyek Baru</a>
      </li>
      <li>
        <a href="#mengenal-tampilan-utama">Mengenal Tampilan Utama</a>
      </li>
      <li>
        <a href="#bekerja-dengan-kolom">Bekerja dengan Kolom</a>
      </li>
      <li>
        <a href="#mengenal-undoredo">Mengenal Undo/Redo</a>
      </li>
    </ul>
    
    <div class="sidebar-nav">
      <h2>BAGIAN 2</h2>
    </div>
    <ul class="sidebar-nav">
      <li>
        <a href="#mengurutkan-data">Mengurutkan Data</a>
      </li>
      <li>
        <a href="#memilah-data-dengan-facet">Memilah Data dengan Facet</a>
      </li>
      <li>
        <a href="#mendeteksi-duplikasi">Mendeteksi Duplikasi</a>
      </li>
      <li>
        <a href="#menghapus-duplikasi">Menghapus Duplikasi</a>
      </li>
      <li>
        <a href="#fungsi-transformasi-umum">Fungsi Transformasi Umum</a>
      </li>
    </ul>
    
    <div class="sidebar-nav">
      <h2>BAGIAN 3</h2>
    </div>
    <ul class="sidebar-nav">
      <li>
        <a href="#mengelompokkan-data">Mengelompokkan Data</a>
      </li>
      <li>
        <a href="#mentransformasi-data">Mentransformasi Data</a>
      </li>
      <li>
        <a href="#memecah-data">Memecah Data</a>
      </li>
      <li>
        <a href="#menukar-posisi-baris-kolomt">Menukar Posisi Baris-Kolom</a>
      </li>
    </ul>
    
    <p>Semua materi menggunakan lisensi <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons by Attribution 4.0</a></p>
  </div>
</div>
